<h1>Library Database</h1>
<h4>An app to store information about books and authors</h4>

<p><a href="/books">Add a new book</a></p>
<p><a href="/authors">Add a new author</a></p>

<h3>Authors:</h3>

<% if @authors.any?() %>
  <p>Click on an author to see info about them and to mark books they've written:</p>

  <ul>
    <% @authors.each do |author| %>
      <li><a href="/authors/<%= author.id() %>"><%= author.name() %></a></li>
      <% end %>
  </ul>
  <% else %>
    <p>No authors added yet</p>
      <% end %>

<h3>Books:</h3>

<% if @books.any?() %>
  <p>Click on a book to see info on it and mark who authored it:</p>

  <ul>
    <% @books.each do |book| %>
    <li><a href="/books/<%= book.id() %>"><%= book.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no books added yet</p>
  <% end %>
